body {
	margin: 0;
	background-color: #202020;
	color: #fff;
	overflow: hidden;
}
.playfield {
	width: 100%;
	height: 100vh
}
.gem {
	transition-duration: .125s;
	transition-timing-function: linear;
	transform:
		translate(
			calc(var(--x) * 1px),
			calc(var(--y) * 1px)
		)
		translate(.5px, .5px)
		scale(calc(1/16 * var(--gemZoom)))
		rotate(calc(360deg * var(--gemRot)))
		translate(-8px, -8px)
	;
	fill: hsl(
		calc(120deg + 360deg * var(--color) / var(--colors)),
		calc(100% * var(--gemSat)),
		calc(100% * var(--gemLit))
	);
	--gemRot: 0;
	--gemZoom: 1;
	--gemSat: .75;
	--gemLit: .5;
	d: path('M1,8 L3,13 L8,15 L13,13 L15,8 L13,3 L8,1 L3,3 Z');
}

.gem:hover {
	--gemZoom: 1.25;
	--gemSat: .875;
	--gemLit: .625;
	z-index: 1;
}

/* mode for coding gem color in shape/angle for colorblind users etc */
.anglecoded .gem {
	--gemRot: calc(var(--color) / var(--colors));
}

.notchGems .gem {
	d: path('M1,8 L3,13 L8,15 L13,13 L15,8 L13,3 L8,8 L3,3 Z');
}

@property --x {
	syntax: "<number>";
	inherits: true;
	initial-value: 0;
}
@property --y {
	syntax: "<number>";
	inherits: true;
	initial-value: 0;
}
@property --color {
	syntax: "<number>";
	inherits: true;
	initial-value: 0;
}
@property --colors {
	syntax: "<number>";
	inherits: true;
	initial-value: 1;
}
@property --gemZoom {
	syntax: "<number>";
	inherits: true;
	initial-value: 1;
}
@property --gemRot {
	syntax: "<number>";
	inherits: true;
	initial-value: 0;
}
@property --gemSat {
	syntax: "<number>";
	inherits: true;
	initial-value: 0;
}
@property --gemLit {
	syntax: "<number>";
	inherits: true;
	initial-value: 0;
}
